.banner{

}
.banner ul{
  list-style: none;
  transition: all 1s;
}
.banner ul li{
  float: left;
  width:25%;
}
.banner ul li img{
  width:100%;
}
.banner span{
  width:50px;
  height:80px;
  line-height: 80px;
  position: absolute;
  top:50%;
  font-size: 30px;
  margin-top: -40px;
  color:rgba(255,255,255,0.4);

  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.banner span:hover{
  color:#fff;
  background: rgba(0,0,0,0.8);
}
.banner span.next{
  right:0;
}
.banner span.prve{
  left:0;
}
